<a href="https://colab.research.google.com/github/GaoangLiu/AA_ipynb/blob/master/Iterative_Imputation_for_Missing_Values_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://i.loli.net/2020/06/05/8tuPZ9oOUMW3aIJ.png" width="400px" class='center' alt='Horse Colic Dataset'>

In [8]:
''' 
1. Kaggle dataset https://www.kaggle.com/uciml/horse-colic?select=horse.csv
2. Github numeric dataset (categoric features transferred to numbers) https://raw.githubusercontent.com/jbrownlee/Datasets/master/horse-colic.csv
3. The goal is to predict whether or not a horse can survive based upon past medical conditions.
'''
!curl -o data.csv https://raw.githubusercontent.com/jbrownlee/Datasets/master/horse-colic.csv
!ls

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 25151  100 25151    0     0   314k      0 --:--:-- --:--:-- --:--:--  314k
data.csv  sample_data

In [0]:
import pandas as pd
import numpy as np

# Explore data
Size: 300 rows x 28 columns

Name of target column is `cp_data`, where `1` means the horse survived and `2` perished.

In [108]:
cols = ["surgery","age","hospital_number","rectal_temp","pulse","respiratory_rate","temp_of_extremities","peripheral_pulse","mucous_membrane","capillary_refill_time","pain","peristalsis","abdominal_distention","nasogastric_tube","nasogastric_reflux","nasogastric_reflux_ph","rectal_exam_feces","abdomen","packed_cell_volume","total_protein","abdomo_appearance","abdomo_protein","outcome","surgical_lesion","lesion_1","lesion_2","lesion_3","cp_data"]
df = pd.read_csv('data.csv', names=cols, na_values='?')
df

     surgery  age  hospital_number  ...  lesion_2  lesion_3  cp_data
0        2.0    1           530101  ...         0         0        2
1        1.0    1           534817  ...         0         0        2
2        2.0    1           530334  ...         0         0        1
3        1.0    9          5290409  ...         0         0        1
4        2.0    1           530255  ...         0         0        2
..       ...  ...              ...  ...       ...       ...      ...
295      1.0    1           533886  ...         0         0        2
296      2.0    1           527702  ...         0         0        1
297      1.0    1           529386  ...         0         0        2
298      1.0    1           530612  ...         0         0        1
299      1.0    1           534618  ...         0         0        2

[300 rows x 28 columns]

In [109]:
"""201 perished v.s. 99 survived, this dataset is well-balanced.
"""
df.cp_data.value_counts()

2    201
1     99
Name: cp_data, dtype: int64

In [122]:
'''
1. Lots of columns have missing values.
2. Luckily, we do not have missing value on the target column
'''
for c in df.columns:
	# count number of rows with missing values
	n_miss = df[c].isna().sum()
	perc = n_miss / df.shape[0] * 100
	print('{:<25} missing {:<3} ({:>3.2f}%)'.format(c, n_miss, perc))

surgery                   missing 1   (0.33%)
age                       missing 0   (0.00%)
hospital_number           missing 0   (0.00%)
rectal_temp               missing 60  (20.00%)
pulse                     missing 24  (8.00%)
respiratory_rate          missing 58  (19.33%)
temp_of_extremities       missing 56  (18.67%)
peripheral_pulse          missing 69  (23.00%)
mucous_membrane           missing 47  (15.67%)
capillary_refill_time     missing 32  (10.67%)
pain                      missing 55  (18.33%)
peristalsis               missing 44  (14.67%)
abdominal_distention      missing 56  (18.67%)
nasogastric_tube          missing 104 (34.67%)
nasogastric_reflux        missing 106 (35.33%)
nasogastric_reflux_ph     missing 247 (82.33%)
rectal_exam_feces         missing 102 (34.00%)
abdomen                   missing 118 (39.33%)
packed_cell_volume        missing 29  (9.67%)
total_protein             missing 33  (11.00%)
abdomo_appearance         missing 165 (55.00%)
abdomo_protein            missing 198 (66.00%)
outcome                   missing 1   (0.33%)
surgical_lesion           missing 0   (0.00%)
lesion_1                  missing 0   (0.00%)
lesion_2                  missing 0   (0.00%)
lesion_3                  missing 0   (0.00%)
cp_data                   missing 0   (0.00%)

In [107]:
"""Try imputer to fill the missing values
1. Convert data types to number, as some are object
"""
df1 = df.copy()
for c in df1.columns:
    df1[c] = pd.to_numeric(df1[c])


from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.pipeline import Pipeline
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

labels = df2['cp_data']
df3 = df2.drop(columns=['cp_data'])
test3 = df3.copy()

labels = df1['cp_data']
df3 = df1.drop(columns=['cp_data'])
test3 = df3.copy()


model = RandomForestClassifier()
parameters = {'verbosity': 0,
					  'learning_rate': 0.05,
					  'sumsampling': 1,
					  'colsample_bytree': 1,  # number of columns used by each tree
					  'max_depth': 10,
					  'gamma': 1,
					  'n_estimators': 3000
					  }
model = xgboost.XGBClassifier()
imputer = IterativeImputer()
pipeline = Pipeline(steps=[('i', imputer), ('m', model)])
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=0)

%time scores = cross_val_score(pipeline, df3, labels, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise', verbose=1)
scores
print('Mean Accuracy: %.3f (%.3f)' % (np.mean(scores), np.std(scores)))
# o = C_rf(df3, test3, labels)
# o.pipeline(eager=0)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.

CPU times: user 179 ms, sys: 5.1 ms, total: 184 ms
Wall time: 4.25 s
Mean Accuracy: 0.831 (0.048)

[Parallel(n_jobs=-1)]: Done  30 out of  30 | elapsed:    4.3s finished

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   surgery                300 non-null    object
 1   age                    300 non-null    int64
 2   rectal_temp            300 non-null    object
 3   pulse                  300 non-null    object
 4   respiratory_rate       300 non-null    object
 5   temp_of_extremities    300 non-null    object
 6   peripheral_pulse       300 non-null    object
 7   mucous_membrane        300 non-null    object
 8   capillary_refill_time  300 non-null    object
 9   pain                   300 non-null    object
 10  peristalsis            300 non-null    object
 11  abdominal_distention   300 non-null    object
 12  nasogastric_tube       300 non-null    object
 13  nasogastric_reflux     300 non-null    object
 14  nasogastric_reflux_ph  300 non-null    object
 15  rectal_exam_feces      300 non-null    object
 16  abdomen                300 non-null    object
 17  packed_cell_volume     300 non-null    object
 18  total_protein          300 non-null    object
 19  abdomo_appearance      300 non-null    object
 20  abdomo_protein         300 non-null    object
 21  outcome                300 non-null    object
 22  surgical_lesion        300 non-null    int64
 23  lesion_1               300 non-null    int64
 24  lesion_2               300 non-null    int64
 25  lesion_3               300 non-null    int64
dtypes: int64(5), object(21)
memory usage: 61.1+ KB